@model MyLeasing.Web.Models.OwnerViewModel
@{
    ViewData["Title"] = "Create new owner";
}

<h1>New Owner</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Owners" />

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Create</button>
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}